<!DOCTYPE html>
<head>
    <title>Movie Monk</title>
    <script src="https://unpkg.com/scrollreveal@4"></script>
    <link href="../static/styles/styles.css" rel="stylesheet" type="text/css"/>
          <link rel="icon" type="image/png" href="static/logo.png" />

</head>
<body class=bg>
<h1 class="heading1">Movie Monk</h1>
<section id="form" class="try">
    <form method="POST" action="/recommend">
        <input type="text" required="required" name="Title" placeholder=" Enter your favourite Movie or genre"><br><br>
        <input type="submit" value="I can't wait more!!"></form>
</section>
<script> ScrollReveal().reveal('.try');
ScrollReveal().reveal('.heading1');</script>
<br>
